<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Event</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1>Button Event System</h1>
    <button 
        onmousedown="buttonDown('W')" 
        onmouseup="buttonUp('W')" 
        onmouseleave="buttonUp('W')">W</button>
    <button 
        onmousedown="buttonDown('A')" 
        onmouseup="buttonUp('A')" 
        onmouseleave="buttonUp('A')">A</button>
    <button 
        onmousedown="buttonDown('S')" 
        onmouseup="buttonUp('S')" 
        onmouseleave="buttonUp('S')">S</button>
    <button 
        onmousedown="buttonDown('D')" 
        onmouseup="buttonUp('D')" 
        onmouseleave="buttonUp('D')">D</button>
    <input type="range" id="slider" min="0" max="100" value="0" step="5" oninput="sliderChange(event)">
</body>
</html>
