<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Event</title>
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1>Button Event System</h1>
    <button onclick="buttonClick('W')">W</button>
    <button onclick="buttonClick('A')">A</button>
    <button onclick="buttonClick('S')">S</button>
    <button onclick="buttonClick('D')">D</button>
    <input type="range" id="slider" min="0" max="100" step="1" oninput="sliderChange(event)">
</body>
</html>
